[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
psycopg2-binary = "*"
fastapi = "*"
pydantic = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
uvicorn = "*"
fastapi-mail = "*"
pyjwt = "*"
passlib = "*"
python-jose = "*"
python-dotenv = "*"
fastapi-jwt-auth = {extras = ["asymmetric"], version = "*"}
cryptography = "*"
fastapi-cache2 = {extras = ["memcache"], version = "*"}
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
